@charset "UTF-8";
/* CSS Document */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
        1.1 - Headings
        1.2 - Body Copy
        1.3 - Buttons
        1.4 - Forms
        1.5 - Lists
        1.6 - Tables
2.0 - Navigation Menus
        2.1 - Main Menu
        2.2 - Sub Menu
        2.3 - Footer Menu
3.0 - Content
        3.1 - Site Structure (Site Header, Advertisement, Site Footer)
        3.2 - Section Name
        3.3 - Section Name
4.0 - Media
5.0 - Utility
        5.1 - Background Colors
        5.2 - Text Colors
        5.3 - Text Sizes
        5.4 - Alignments
--------------------------------------------------------------*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.row:after {
	content: "";
	display: table;
	clear: both;
} 

img {
	max-width: 100%;
}

[class*='col-'] {
	float: left;
	padding-right: 25px; /*use px because gutter should always be the same size*/
	margin-bottom: 25px;
}

[class*='col-']:last-of-type {
	padding-right: 0;
}

.col-1-1 {
	width: 100%;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-4, .col-1-4-sm {
	width: 25%;
}

.col-3-4 {
	width: 75%;
}

.col-1-5 {
	width: 20%;
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
}

.col-1-6 {
	width: 16.66%;
}

.col-5-6 {
	width: 83.3%;
}

.col-1-7 {
	width: 14.28%;
}

.col-2-7 {
	width: 28.57%;
}

.col-5-7 {
	width: 71.42%;
}

.col-1-8 {
	width: 12.5%;
}

.col-3-8 {
	width: 37.5%;
}

.col-5-8 {
	width: 62.5%;
}

.col-1-9 {
	width: 11.11%;
}

.col-4-9 {
	width: 44.44%;	
}

.col-5-9 {
	width: 55.55%;
}

.col-1-10 {
	width: 10%;
}

.col-3-10 {
	width: 30%;
}

.col-7-10 {
	width: 70%;
}

.col-1-11 {
	width: 9.09%;
}

.col-4-11 {
	width: 36.36%;
}

.col-7-11 {
	width: 63.63%;
}

.col-1-12 {
	width: 8.33%;
}

.col-5-12 {
	width: 41.66%;
}

.col-7-12 {
	width: 58.33%;
}

/* don't forget to combine margin: 0; */

/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
body {
	font-size: 16pt;
}

.bg-yllw, .bg-teal {
	color: #f2f2f2;
}

.bg-lite {
	color: #49BDAA;
}

h2, h3, header p, strong, .btn-hllw {
	font-family: 'Roboto Slab', serif;
}

h2, strong {	
	font-weight: 700;
}

h3, p {
	letter-spacing: 0.5px;
}

p, .btn-solid {
	font-family: 'Roboto', sans-serif;
}

/* ----- 1.1 - Headings ----- */
h1 {
	margin: 0;
}

h2 {
	margin: 0 0 2.5rem 0;
}

h2, strong {
	font-size: 4rem;
	line-height: 4rem;
}

h2, strong, h3 {
	text-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

h3 {
	font-size: 1.75rem;
	margin: 0 0 2rem 0;
}
/* ----- 1.2 - Body Copy ----- */
#work, #about {
	text-align: center;
}

p {
	margin: 2rem 0 0 0;
	font-size: 1rem;
	font-weight: 400;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

header p, #about>.wrapper>p {
	font-size: 1.25rem;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	line-height: 2rem;
	margin: 2rem 0;
	letter-spacing: 0;
}

#about>.wrapper>header p {
	padding-bottom: 2rem;
}

/* ----- 1.3 - Buttons ----- */
.btn {
	margin: 0;
	text-transform: uppercase;
	text-decoration: none;
	color: inherit;
	-webkit-border-radius: 15px;
	-ms-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
		padding: 0.25rem 1.25rem;

}

.btn-hllw {
	font-size: 1rem;
	border: 4px solid #F6BD46;

}

.btn-solid {
	font-size: 1.1875rem;
	border: 4px solid #F6BD46;


}

.btn-hllw, .btn-solid:hover {
	border: 4px solid #F6BD46;
	background-color: transparent;

}

/* ----- 1.5 - Lists ----- */
ul {
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
}

/*does this go here or in buttons?*/
.hero li:first-of-type {
	margin-right: 3rem;
}

/*--------------------------------------------------------------
2.0 - NAVIGATION MENUS
-------------------------------------------------------------- */

/* ----- 2.1 - Main Menu ----- */
header nav ul {
	text-align: right;
}

header nav {
	margin: 30px 0 0 0;
}

nav li {
	margin-right: 5rem;
}

nav li:last-of-type {
	margin: 0;
}

/* ----- 2.2 - Sub Menu ----- */

/* ----- 2.3 - Footer Menu ----- */
footer nav {
	text-align: center;
}


/*--------------------------------------------------------------
3.0 - CONTENT
-------------------------------------------------------------- */

/* ----- 3.1 - Site Structure (Header, Advertisement, Site Footer) ----- */

body>header {
	padding: 1.5rem 0 4rem 0;
}

body>section {
	padding: 5em 0;
}

section section .bg-teal, section section .bg-yllw {
	padding: 4rem 0;
	margin: 0;
}

footer p {
	margin: 0;
}

/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */
#work img {
	margin-top: 2rem;
}

#about .image:first-of-type {
	background-image: url(../img/john-doe.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
}

#about .image:nth-of-type(2) {
	background-image: url(../img/jane-doe.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
}

#about .image:nth-of-type(3) {
	background-image: url(../img/jon-smith.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
}

#about .image:nth-of-type(4) {
	background-image: url(../img/mary-smith.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
}
/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */

/* ----- 5.1 - Background Colors ----- */
.bg-teal {
	background-color: #49BDAA;
}

.bg-yllw, .btn-solid, .btn-hllw:hover {
	background-color: #F6BD46;
}

.bg-lite {
	background-color: #F2F2F2;
}
/* ----- 5.2 - Text Sizes ----- */

/* ----- 5.3 - Alignments ----- */
.block-cntr {
	float: none;
	margin: 0 auto;
}

.f-right {
	float: right;
}
































@media (max-width: 480px) {
	.wrapper {
		width: 90%;
	}
	
	.col-1-4 {
		width: 50%;
	}
	
	.col-1-4:nth-child(2), .col-1-7, .col-1-6:nth-child(3), .col-1-8:nth-child(4), .col-1-9:nth-child(3), .col-1-9:nth-child(6), .col-1-10:nth-child(5), .col-1-11, .col-1-12:nth-child(4), .col-1-12:nth-child(8) {
		padding-right: 0;
	}
	
	.col-1-7, .col-1-11 {
		width: 100%;
	}
	
	.col-1-6, .col-1-9 {
		width: 33.33%;
	}
	
	.col-5-6 {
		width: 66.66%;
	}
	
	.col-1-8, .col-1-12 {
		width: 25%;
	}
	
	.col-1-10 {
		width: 20%;
	}
	
/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */	

/* ----- 1.1 - Headings ----- */
body>header .col-1-10 {
	float: none;
	margin: 0 auto;
}

h2, strong {
	font-size: 3rem;
	line-height: 3rem;
}

/*does this go here?*/
.hero .f-right {
	float: none;
	margin: 0 auto;
	text-align: center;
}
/* ----- 1.2 - Body Copy ----- */

/* ----- 1.3 - Buttons ----- */

/* ----- 1.5 - Lists ----- */

/*--------------------------------------------------------------
2.0 - NAVIGATION MENUS
-------------------------------------------------------------- */	

/* ----- 2.1 - Main Menu ----- */
nav.col-7-8 {
	margin: .5rem 0;
}

nav li {
	margin: 0 1rem 0 0;
}

nav li:last-of-type {
	margin-right: 0;
}
/* ----- 2.2 - Sub Menu ----- */

/* ----- 2.3 - Footer Menu ----- */


}


